/* On screens that are 1399px or less */
@media only screen and (max-width: 1399px) {

    /* ----------------------------------------------- */
    /* ---------------- ABOUT SECTION ---------------- */
    /* ----------------------------------------------- */

    .section-about h3 {
        font-size: 170%;
        margin-bottom: 20px;
    }

    .section-about p {
        line-height: 130%;
    }

    .profile-image {
        width: 100%;
    }

    /* ----------------------------------------------- */
    /* ---------------- SKILLS SECTION --------------- */
    /* ----------------------------------------------- */

    .section-skills i {
        font-size: 250%;
    }

    .section-skills h3 {
        font-size: 100%
    }

    .section-skills p {
        font-size: 75%;
        line-height: 130%;
    }

    /* ----------------------------------------------- */
    /* -------------- EXPERIENCE SECTION ------------- */
    /* ----------------------------------------------- */

    .timeline {
        width: 100%;
    }

    /* ----------------------------------------------- */
    /* --------------- CONTACT SECTION --------------- */
    /* ----------------------------------------------- */

    .contact-container {
        width: 60%;
    }

}

/* On screens that are 991px or less */
@media only screen and (max-width: 991px) {

    /* ----------------------------------------------- */
    /* ------------- REUSABLE COMPONENTS ------------- */
    /* ----------------------------------------------- */

    .flexbox {
        flex-wrap: wrap;
    }

    /* ----------------------------------------------- */
    /* ---------------- ABOUT SECTION ---------------- */
    /* ----------------------------------------------- */

    .about-image-box {
        width: 100%;
    }

    .about-text-box {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .profile-image {
        width: 70%;
    }

    /* ----------------------------------------------- */
    /* ---------------- SKILLS SECTION --------------- */
    /* ----------------------------------------------- */

    .section-skills i {
        font-size: 350%;
    }

    .section-skills h3 {
        font-size: 150%
    }

    .section-skills p {
        font-size: 90%;
        line-height: 150%;
    }

    /* ----------------------------------------------- */
    /* --------------- PROJECTS SECTION -------------- */
    /* ----------------------------------------------- */

    .section-projects .box {
        min-width: 100%;
        padding: 10px 0;
    }

    /* ----------------------------------------------- */
    /* --------------- CONTACT SECTION --------------- */
    /* ----------------------------------------------- */

    .contact-container {
        width: 70%;
    }
}

/* On screens that are 767px or less */
@media only screen and (max-width: 767px) {

    /* ----------------------------------------------- */
    /* ------------- REUSABLE COMPONENTS ------------- */
    /* ----------------------------------------------- */

    /* ------------------- HEADINGS ------------------ */

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 180%
    }

    h2:before,
    h2:after {
        width: 30px;
    }

    /* ----------------------------------------------- */
    /* -------------------- HEADER ------------------- */
    /* ----------------------------------------------- */

    .showcase p {
        font-size: 80%;
        line-height: 130%;
    }

    /* ----------------------------------------------- */
    /* ---------------- ABOUT SECTION ---------------- */
    /* ----------------------------------------------- */

    .center {
        text-align: center;
    }

    .signature {
        width: 300px;
    }

    .profile-image {
        width: 80%;
    }

    /* ----------------------------------------------- */
    /* -------------- EXPERIENCE SECTION ------------- */
    /* ----------------------------------------------- */

    .timeline {
        width: 100%;
        padding-bottom: 0;
        margin-top: 40px;
    }

    .timeline:before {
        top: -10px;
        left: 20px;
    }

    .timeline ul li h3 {
        margin-top: 10px;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -16px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .timeline-time,
    .timeline ul li:nth-child(even) .timeline-time {
        top: -30px;
        left: 50px;
        right: inherit;
    }

    /* ----------------------------------------------- */
    /* --------------- CONTACT SECTION --------------- */
    /* ----------------------------------------------- */

    .contact-container {
        width: 80%;
    }

    /* ----------------------------------------------- */
    /* ------------------- FOOTER -------------------- */
    /* ----------------------------------------------- */

    .footer-nav li,
    .footer-nav-social-links li {
        font-size: 80%;
        margin-right: 10px;
    }
}

/* On screens that are 479px or less */
@media only screen and (max-width: 479px) {

    /* ----------------------------------------------- */
    /* -------------------- HEADER ------------------- */
    /* ----------------------------------------------- */

    h1 {
        font-size: 250%;
    }

    .showcase p {
        font-size: 80%;
        line-height: 120%;
        width: 100%
    }

    /* ----------------------------------------------- */
    /* ---------------- ABOUT SECTION ---------------- */
    /* ----------------------------------------------- */

    .profile-image {
        width: 100%;
    }

    .section-about p {
        line-height: 130%;
        font-size: 80%;
    }

    /* ----------------------------------------------- */
    /* --------------- CONTACT SECTION --------------- */
    /* ----------------------------------------------- */

    .contact-container {
        width: 90%;
    }

    /* ----------------------------------------------- */
    /* ------------------- FOOTER -------------------- */
    /* ----------------------------------------------- */

    .footer-nav li,
    .footer-nav-social-links li {
        float: none;
    }
    
    .footer-nav-social-links li {
        margin-top: 20px;
    }

    .footer-nav-social-links li:first-of-type {
        margin-right: 10px;
    }
    
    footer p {
        text-align: center;
    }

}
