/* ----------------------------------------------- */
/* -------------- PROJECT COLORS ----------------- */
/* ----------------------------------------------- */

:root {
    --primary-color: rgba(0, 182, 180, 1);
    --primary-color-dark: rgba(0, 148, 146, 1);
    --primary-color-light: rgba(0, 182, 180, 0.4);
    --overlay-color: rgba(0, 0, 0, 0.6);
    --font-color: #969696;
    --font-color-light: #bbb;
    --font-color-dark: #6a6a6a;
    --slightly-white: #f8f8f8;
    --menu-speed: 0.75s;
}


/* ----------------------------------------------- */
/* ---------------- BASIC SETUP ------------------ */
/* ----------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* ------------- REUSABLE COMPONENTS ------------- */
/* ----------------------------------------------- */

.row {
    width: 90%;
    /*height: 60px;*/
    margin: 0 5%;
    /*background: #bc1818;*/
}

.flexbox {
    display: flex;
}

section {
    padding: 60px 0;
}

footer {
    padding: 40px 0 60px 0;
}

/* ------------------- HEADINGS ------------------ */

h1,
h2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    letter-spacing: 4px;
}

h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
    font-size: 400%;
}

h2 {
    color: var(--font-color);
    font-size: 200%;
    position: relative;
}

h2:before,
h2:after {
    display: inline-block;
    content: "";
    border-top: 2px solid var(--primary-color);
    width: 60px;
    margin: 0 15px;
    transform: translateY(-12px);
}

/* ------------------- SECTIONS ------------------ */

section h2 {
    text-align: center;
    margin-bottom: 60px;
}

/* ------------------ PARAGRAPHS ----------------- */

p {
    font-size: 80%;
    letter-spacing: 1px;
}

/* -------------------- LOGOS -------------------- */

.logo {
    position: relative;
    display: block;
    height: 40px;
    width: auto;
    margin-top: 10px;
    margin-left: 1em;
    float: left;
    z-index: 5;
}

/* ------------------- BUTTONS ------------------- */

.btn,
input[type="submit"] {
    padding: 10px;
    border: 3px solid var(--primary-color-dark);
    transition: all 0.2s ease-in-out;
    font-size: 100%;
    text-decoration: none;
}

.btn-ghost {
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 90%;
}

.btn-square {
    padding: 10px 20px;
    color: #FFF;
    background-color: var(--primary-color-dark);
}

.btn-full,
input[type="submit"] {
    color: #FFF;
    font-size: 90%;
    border-radius: 18px;
    /*border-radius: 10px;*/
    background-color: var(--primary-color-dark);
    box-shadow: 0 0 0 3px var(--primary-color-light);
}

.btn-full:hover,
.btn-full:active,
.btn-square:hover,
.btn-square:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    color: #FFF;
    background-color: transparent;
}

.btn-ghost:visited,
.btn-ghost:link {
    color: var(--primary-color-dark);
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: var(--primary-color-dark);
    color: #FFF;
}

/* -------------------- LINKS -------------------- */

a {
    text-decoration: none;
}

/* ----------------------------------------------- */
/* -------------------- HEADER ------------------- */
/* ----------------------------------------------- */

header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.bg {
    background-image: linear-gradient(rgba(0, 148, 146, 0.6), rgba(0, 148, 146, 0.6)), url(../images/photo-of-mountain-with-ice-covered-with-black-and-gray-cloud-640781.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*header {
    /*background: url(../images/4k-wallpaper-calm-waters-dark-1252869.jpg) no-repeat center center/cover;*/
/*height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 148, 146, 0.5), rgba(0, 148, 146, 0.5)), url(../images/4k-scenic-view-of-mountain-during-evening.jpg);
    background-position: left top;
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}*/

header .row {
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 4;
}

#navbar {
    margin: 0;
    width: 100%;
    padding: 0 5%;
    transition: all 0.5s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease-in-out;
    transition: box-shadow 1s ease-in-out;
    z-index: 4;
}


.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    position: absolute;
    height: 100vh;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase p {
    width: 90%;
    font-size: 90%;
}

.showcase .btn {
    position: absolute;
    bottom: 40px;
    transform: translate(-50%, 50%);
}

/* ----------------------------------------------- */
/* ---------------- ABOUT SECTION ---------------- */
/* ----------------------------------------------- */

.section-about {
    color: var(--font-color);
}

.about-image-box,
.about-text-box {
    position: relative;
    height: 500px;
    width: auto;
    margin-bottom: 0;
}

.about-image-box {
    height: 500px;
    width: 40%;
    text-align: center;
}


.about-text-box {
    width: 60%;
    padding-left: 50px;
}

.section-about h3 {
    font-size: 200%;
    line-height: 35px;
    margin-bottom: 40px;
}

.section-about span {
    font-weight: 400;
    color: #5f5f5f;
}

.section-about p {
    font-size: 90%;
}

.signature {
    /*transform: rotate(-2deg);*/
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.profile-image {
    width: 90%;
    height: 100%;
}


/* ----------------------------------------------- */
/* ---------------- SKILLS SECTION --------------- */
/* ----------------------------------------------- */

.section-skills {
    background-color: var(--slightly-white);
}

.section-skills .box {
    padding: 0 25px 20px 25px;
    min-width: 25%;
    height: 100%;
    text-align: center;
    color: var(--font-color);
}

.section-skills i {
    font-size: 300%;
    /*margin-top: 20px;*/
    color: var(--primary-color);
}

.section-skills h3 {
    margin: 10px 0;
    font-size: 120%
}

.section-skills p {
    text-align: justify;
    font-size: 80%;
}

/* ----------------------------------------------- */
/* -------------- EXPERIENCE SECTION ------------- */
/* ----------------------------------------------- */

.timeline {
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: var(--font-color);
}


.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.timeline-content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 0 10px #FFF;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 22px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 0 10px #FFF;
}

.timeline ul li h3 {
    margin: -10px 0 0 0;
    padding: 0;
    font-weight: 400;
    color: var(--primary-color);
}

.timeline ul li p {
    margin: 10px 0 0 0;
    padding: 0;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: var(--font-color);
}

.timeline ul li .timeline-time h4 {
    margin: 0;
    padding: 0;
    font-size: 90%;
    font-weight: 400;
    color: #FFF;
}

.timeline ul li:nth-child(odd) .timeline-time {
    position: absolute;
    top: 8px;
    right: -195px;
    padding: 8px 16px;
    background: var(--primary-color);
    color: #FFF;
    border-radius: 18px;
    box-shadow: 0 0 0 3px var(--primary-color-light);
}


.timeline ul li:nth-child(even) .timeline-time {
    position: absolute;
    top: 6px;
    left: -195px;
    padding: 8px 16px;
    background: var(--primary-color);
    color: #FFF;
    border-radius: 18px;
    box-shadow: 0 0 0 3px var(--primary-color-light);
}

/* ----------------------------------------------- */
/* ---------------- RESUME SECTION --------------- */
/* ----------------------------------------------- */

.section-resume {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.section-resume h2,
.section-resume p {
    color: #FFF;
}

.section-resume p {
    text-align: center;
    margin-bottom: 40px;
}

.section-resume h2:before,
.section-resume h2:after {
    border-top: 0.1rem solid var(--primary-color-dark);
}

/* ----------------------------------------------- */
/* --------------- PROJECTS SECTION -------------- */
/* ----------------------------------------------- */

.section-projects {
    padding: 60px 0 50px 0;
    background-color: var(--slightly-white);
}

.section-projects h2 {
    margin-bottom: 50px;
}

.section-projects .box {
    position: relative;
    min-width: 48%;
    margin: 1%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.section-projects .box:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.title,
.section-projects .modal-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    /*position: absolute;
    width: 100%;
    left: 0;
    top: 180px;*/
    font-size: 150%;
    text-align: center;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.section-projects .box:hover .title {
    top: 30%;
}

.section-projects .modal-button {
    opacity: 0;
}

.section-projects .box .modal-button {
    background-color: var(--primary-color-dark);
    color: #FFF;
    margin-top: 0;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.section-projects .box .modal-button:hover,
.section-projects .box .modal-button:active {
    color: var(--primary-color);
    background-color: transparent;
}

.section-projects .box:hover .modal-button {
    opacity: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.blue {
    width: 100%;
    height: 400px;
    background-color: blue;
}

.red {
    width: 100%;
    height: 400px;
    background-color: red;
}

#more-projects {
    display: none;
}

.section-projects .row {
    text-align: center;
}

.section-projects .btn {
    display: inline-block;
    margin-top: 20px;
    color: var(--primary-color-dark);
}

.section-projects .btn-ghost:hover,
.section-projects .btn-ghost:active {
    color: #FFF;
}

/* --------------------- MODAL ------------------- */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 3;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-content .close,
.prev-button,
.next-button {
    color: var(--font-color-light);
    font-size: 140%;
    transition: color 0.3s ease;
}

/* The Close Button */
.modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    margin: 2px 5px 0 0;
    z-index: 2; 
}

.close:hover,
.close:focus,
.prev-button:hover,
.prev-button:focus,
.next-button:hover,
.next-button:focus {
    color: var(--font-color-dark);
    text-decoration: none;
    cursor: pointer;
}

.modal-content .modal-body {
    max-height: 100%;
    max-width: 100%;
    /*margin: 30px;*/
    /*background-color: aqua;*/
}

.modal-text-box {
    width: 40%;
    height: auto;
    text-align: left;
    padding: 30px;
    color: var(--font-color);
}

.modal-text-box h4 {
    font-size: 120%;
    margin-bottom: 10px;
}

.modal-text-box p {
    text-align: justify;
}

.modal-image-box {
    width: 60%;
    height: auto;
    
}

.modal-image-box img {
    display: block;
    max-width: 100%;
    min-height: 100%;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
}

.prev-button {
    left: 0;
    margin-left: 5px;
}

.next-button {
    right: 0;
    margin-right: 5px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.active-slide {
  display:block;
}

/* The dots/bullets/indicators */
.dot-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.dot {
    border: 1px solid #fff;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--font-color-light);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active,
.dot:hover {
    background-color: var(--font-color-dark);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* ----------------------------------------------- */
/* --------------- CONTACT SECTION --------------- */
/* ----------------------------------------------- */

.contact-container {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    /*background-color: var(--slightly-white);*/
    box-sizing: border-box;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
}

.contact-container input[type=text] {
    padding: 10px 0;
    margin-bottom: 60px;
}

.contact-container textarea {
    padding: 10px 0;
    max-height: 600px;
    height: 47px;
    min-height: 47px;
    max-width: 100%;
    min-width: 100%;
}

.contact-container input[type=text],
.contact-container textarea {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: var(--font-color);
    font-size: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--primary-color);
}

.contact-container input[type=submit] {
    width: 100%;
    margin-top: 40px;
    cursor: pointer;
}

.contact-container form div {
    position: relative;
}

.contact-container form div label {
    position: absolute;
    color: var(--font-color);
    font-size: 100%;
    top: 10px;
    left: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.contact-container input[type=text]:focus ~ label,
.contact-container input[type=text]:valid ~ label,
.contact-container textarea:focus ~ label,
.contact-container textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--primary-color);
}

.section-contact input[type="submit"]:hover,
.section-contact input[type="submit"]:active {
    color: var(--primary-color-dark);
}


/* ----------------------------------------------- */
/* ------------------- FOOTER -------------------- */
/* ----------------------------------------------- */

footer {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    color: #FFF;
    padding-bottom: 0;
}

footer p {
    width: 100%;
    font-size: 70%;
    display: inline-block;
    margin: 20px 0;
}

.footer-nav,
.footer-nav-social-links {
    list-style: none;
    text-align: center;
}

.footer-nav li {
    float: left;
}

.footer-nav-social-links li {
    float: right;
}

.footer-nav li,
.footer-nav-social-links li {
    font-size: 90%;
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-of-type {
    margin-right: 0;
}

.footer-nav-social-links li:first-of-type {
    margin-right: 0;
}

.footer-nav li a,
.footer-nav-social-links li a {
    color: #FFF;
    transition: color 0.2s ease-in-out;
}

.footer-nav-social-links li i {
    font-size: 120%;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.footer-nav-social-links li a:hover,
.footer-nav-social-links li a:active {
    color: var(--primary-color-dark);
}

.copyright {
    background-color: var(--primary-color-dark);
}

.copyright p {
    text-align: center;
    font-size: 60%;
    padding: 10px 0;
    margin: 0;
}
