/* ----------------------------------------------- */
/* -------------- PROJECT COLORS ----------------- */
/* ----------------------------------------------- */

:root {
    --primary-color: rgba(0, 182, 180, 1);
    --primary-color-dark: rgba(0, 148, 146, 1);
    --primary-color-light: rgba(0, 182, 180, 0.4);
    --overlay-color: rgba(0, 0, 0, 0.6);
    --font-color: #969696;
    --slightly-white: #f8f8f8;
    --menu-speed: 0.75s;
}


/* ----------------------------------------------- */
/* ---------------- BASIC SETUP ------------------ */
/* ----------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* ------------- REUSABLE COMPONENTS ------------- */
/* ----------------------------------------------- */

.row {
    width: 90%;
    /*height: 60px;*/
    margin: 0 5%;
    /*background: #bc1818;*/
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
}

section,
footer {
    padding: 60px 0;
}

/* ------------------- HEADINGS ------------------ */
h1,
h2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    letter-spacing: 4px;
}

h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
    font-size: 400%;
}

h2 {
    color: var(--font-color);
    font-size: 200%;
    position: relative;
}

h2:before,
h2:after {
    display: inline-block;
    content: "";
    border-top: 2px solid var(--primary-color);
    width: 60px;
    margin: 0 15px;
    transform: translateY(-12px);
}

/* ------------------- SECTIONS ------------------ */

section h2 {
    text-align: center;
    margin-bottom: 60px;
}

/* ------------------ PARAGRAPHS ----------------- */

p {
    font-size: 80%;
    letter-spacing: 1px;
}

/* -------------------- LOGOS -------------------- */

.logo {
    position: relative;
    display: block;
    height: 40px;
    width: auto;
    margin-top: 10px;
    margin-left: 1em;
    float: left;
    z-index: 5;
}

/* ------------------- BUTTONS ------------------- */

.btn,
input[type="submit"] {
    padding: 10px;
    border: 3px solid var(--primary-color-dark);
    transition: all 0.2s ease-in-out;
    font-size: 100%;
    text-decoration: none;
}

.btn-ghost {
    border-radius: 50%;
    padding: 4px 10px;
}

.btn-full,
input[type="submit"] {
    color: #FFF;
    /*border-radius: 10px;*/
    background-color: var(--primary-color-dark);
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    color: #FFF;
    background-color: transparent;
}

.btn-ghost:visited,
.btn-ghost:link {
    color: var(--primary-color-dark);
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: var(--primary-color-dark);
    color: #FFF;
}

/* -------------------- LINKS -------------------- */

a {
    text-decoration: none;
}

/* ----------------------------------------------- */
/* -------------------- HEADER ------------------- */
/* ----------------------------------------------- */

header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.bg {
    background-image: linear-gradient(rgba(0, 148, 146, 0.6), rgba(0, 148, 146, 0.6)), url(../images/4k-scenic-view-of-mountain-during-evening.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*header {
    /*background: url(../images/4k-wallpaper-calm-waters-dark-1252869.jpg) no-repeat center center/cover;*/
/*height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 148, 146, 0.5), rgba(0, 148, 146, 0.5)), url(../images/4k-scenic-view-of-mountain-during-evening.jpg);
    background-position: left top;
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}*/

header .row {
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 4;
}

#navbar {
    margin: 0;
    width: 100%;
    padding: 0 5%;
    transition: all 0.5s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease-in-out;
    transition: box-shadow 1s ease-in-out;
    z-index: 4;
}


.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    position: absolute;
    height: 100vh;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase p {
    width: 90%;
    font-size: 90%;
}

.showcase .btn {
    position: absolute;
    bottom: 40px;
    transform: translate(-50%, 50%);
}

/* ----------------------------------------------- */
/* ---------------- ABOUT SECTION ---------------- */
/* ----------------------------------------------- */

.section-about {
    color: var(--font-color);
}

.about-image-box,
.about-text-box {
    position: relative;
    height: 500px;
    width: auto;
    margin-bottom: 0;
}

.about-image-box {
    height: 500px;
    width: 40%;
    text-align: center;
}


.about-text-box {
    width: 60%;
    padding-left: 50px;
}

.section-about h3 {
    font-size: 200%;
    line-height: 35px;
    margin-bottom: 40px;
}

.section-about span {
    font-weight: 400;
    color: #5f5f5f;
}

.section-about p {
    font-size: 90%;
}

.signature {
    /*transform: rotate(-2deg);*/
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.profile-image {
    width: 90%;
    height: 100%;
}


/* ----------------------------------------------- */
/* ---------------- SKILLS SECTION --------------- */
/* ----------------------------------------------- */

.section-skills {
    background-color: var(--slightly-white);
}

.section-skills .box {
    /*background-color: #000;*/
    width: 100%;
    height: auto;
    color: var(--font-color);
    text-align: center;
}

.section-skills i {
    font-size: 300%;
    /*margin-top: 20px;*/
    color: var(--primary-color);
}

.section-skills h3 {
    margin: 10px 0;
    font-size: 120%
}

.section-skills p {
    text-align: justify;
    padding: 0 15px;
}

/* ----------------------------------------------- */
/* -------------- EXPERIENCE SECTION ------------- */
/* ----------------------------------------------- */



/* ----------------------------------------------- */
/* ---------------- RESUME SECTION --------------- */
/* ----------------------------------------------- */

.section-resume {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.section-resume h2,
.section-resume p {
    color: #FFF;
}

.section-resume p {
    text-align: center;
    margin-bottom: 40px;
}

.section-resume h2:before,
.section-resume h2:after {
    border-top: 0.1rem solid var(--primary-color-dark);
}

/* ----------------------------------------------- */
/* --------------- PROJECTS SECTION -------------- */
/* ----------------------------------------------- */

.section-projects {
    padding: 60px 0 0 0;
}

.blue {
    width: 100%;
    height: 400px;
    background-color: blue;
}

.red {
    width: 100%;
    height: 400px;
    background-color: red;
}

#more-projects {
    display: none;
}

.section-projects .row {
    text-align: center;
}

.section-projects .btn {
    display: inline-block;
    margin-top: 18px;
    color: var(--primary-color-dark);
}

.section-projects .btn-ghost:hover,
.section-projects .btn-ghost:active {
    color: #FFF;
}

/* ----------------------------------------------- */
/* --------------- CONTACT SECTION --------------- */
/* ----------------------------------------------- */

.contact-container {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    /*background-color: var(--slightly-white);*/
    box-sizing: border-box;
    /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
}

.contact-container input[type=text] {
    padding: 10px 0;
    margin-bottom: 60px;
}

.contact-container textarea {
    padding: 10px 0;
    max-height: 600px;
    height: 47px;
    min-height: 47px;
    max-width: 100%;
    min-width: 100%;
}

.contact-container input[type=text],
.contact-container textarea {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: var(--font-color);
    font-size: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--primary-color);
}

.contact-container input[type=submit] {
    width: 100%;
    margin-top: 40px;
    cursor: pointer;
}

.contact-container form div {
    position: relative;
}

.contact-container form div label {
    position: absolute;
    color: var(--font-color);
    font-size: 100%;
    top: 10px;
    left: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.contact-container input[type=text]:focus ~ label,
.contact-container input[type=text]:valid ~ label,
.contact-container textarea:focus ~ label,
.contact-container textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--primary-color);
}

.section-contact input[type="submit"]:hover,
.section-contact input[type="submit"]:active {
    color: var(--primary-color-dark);
}


/* ----------------------------------------------- */
/* ------------------- FOOTER -------------------- */
/* ----------------------------------------------- */

footer {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    color: #FFF;
    padding-bottom: 0;
}

footer p {
    width: 100%;
    display: inline-block;
    font-size: 80%;
    margin: 20px 0;
}

.footer-nav,
.footer-nav-social-links {
    list-style: none;
    text-align: center;
}

.footer-nav li {
    float: left;
}

.footer-nav-social-links li {
    float: right;
}

.footer-nav li,
.footer-nav-social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-of-type {
    margin-right: 0;
}

.footer-nav-social-links li:first-of-type {
    margin-right: 0;
}

.footer-nav li a,
.footer-nav-social-links li a {
    color: #FFF;
    transition: color 0.2s ease-in-out;
}

.footer-nav-social-links li i {
    font-size: 120%;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.footer-nav-social-links li a:hover,
.footer-nav-social-links li a:active {
    color: var(--primary-color-dark);
}

.copyright {
    background-color: var(--primary-color-dark);
}

.copyright p {
    text-align: center;
    font-size: 70%;
    padding: 10px 0;
    margin: 0;
}
